.hero {
    min-height: 90vh;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 2rem;
}

.video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 1;
    filter: blur(3px);
}

.hero-content {
    z-index: 2;
}


.hero-content {
    max-width: 700px;
}

.hero h1 {
    font-size: clamp(2.5rem, 5vw, 4rem);
    margin-bottom: 1.5rem;
}

.hero p {
    margin-bottom: 2rem;
    color: #ccc;
}