<section class="notfound-section d-flex justify-content-center align-items-center text-center bg-black text-white">
    <div class="notfound-bg">404</div>

    <div class="notfound-content">
        <h1 class="display-1 fw-bold montserrat-bold">404</h1>

        <h2 class="fw-bold montserrat-bold mb-3">
            Pagina non trovata
        </h2>

        <p class="mb-4 lato-regular">
            La pagina che stai cercando non esiste,
            è stata spostata oppure non è mai esistita.
        </p>

        <a href="/" class="btn btn-lg rounded-pill">
            Torna alla home
        </a>
    </div>
</section>
