<footer class="py-5 border-top shadow-lg">
    <div class="container">
        <div class="row text-center justify-content-center">

            <div class="col-12 col-sm-12 col-md-5 mb-4 text-center">
                <a routerLink=""><img src="logo.jpg" alt="Logo" class="mb-3" style="height: 100px;"></a>
                <p class="lato-regular">Da ISC Tattoo Studio a Rovereto offriamo un ambiente accogliente dove arte, passione e professionalità si incontrano ogni giorno. Dal primo incontro con i nostri tatuatori all’ultimo dettaglio del tuo tatuaggio, il nostro obiettivo è farti sentire a tuo agio, con uno spazio curato, attrezzature di qualità e un servizio attento a ogni tua esigenza.</p>
            </div>

            <div class="col col-sm-6 col-md-3 mb-4 text-end">
                <h6 class="text-uppercase fw-bold mb-2">Contatti</h6>
                <ul class="list-unstyled mb-0">
                    <li><a routerLink="/contatti" class="text-decoration-none text-black lato-regular">Hai bisogno di aiuto?</a></li>
                    <li class="mt-2">
                        <a href="https://www.instagram.com/dovialchesini/" target="_blank" class="me-3 fs-5"><i
                                class="bi bi-instagram text-black"></i></a>
                        <a href="https://www.facebook.com/p/Dovial-Chesini-100076167645361/" target="_blank" class="me-3 fs-5"><i
                                class="bi bi-facebook text-black"></i></a>
                        <a href="https://wa.me/3757456420" target="_blank" class="me-3 fs-5"><i class="bi bi-whatsapp text-black"></i></a>
                    </li>
                </ul>
            </div>

            <div class="col col-sm-6 col-md-4 mb-4 text-start">
                <h6 class="text-uppercase fw-bold mb-2">Navigazione</h6>
                <ul class="list-unstyled mb-0">
                    <li><a routerLink="/" class="text-decoration-none d-block text-black lato-regular mb-1">Home</a></li>
                    <li><a routerLink="/chisiamo" class=" text-decoration-none d-block text-black lato-regular mb-1">Chi siamo</a></li>
                    <li class="dropdown">
                        <a class="text-decoration-none d-block text-black lato-regular mb-2 dropdown-toggle"  role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Gli artisti
                        </a>
                        <ul class="dropdown-menu shadow-lg">
                            <li><a class="dropdown-item" routerLink="/artisti/isc">Isc</a></li>
                            <li><a class="dropdown-item" routerLink="/artisti/sketchomaule">Sketchomaule</a></li>
                            <li><a class="dropdown-item" routerLink="/artisti/laurazane">Laura Zane</a></li>
                        </ul>
                    </li>
                    <li><a routerLink="/orario" class="text-decoration-none d-block text-black lato-regular mb-1">Orari di apertura</a></li>
                    <li><a routerLink="/prenotazioni" class="text-decoration-none d-block text-black lato-regular mb-1">Prenota Online</a></li>
                    <li><a routerLink="/contatti" class="text-decoration-none d-block text-black lato-regular">Contatti</a></li>
                    <li><a routerLink="/gallery" class="text-decoration-none d-block text-black lato-regular">Gallery</a></li>
                </ul>
            </div>

        </div>

        <hr class="my-4 border-black">

        <div class="row">
            <div class="col text-center">
                <p class="mb-0 small">&copy; {{currentYear()}} <strong>Isc Tatto Studio</strong>. Tutti i diritti riservati.</p>
                <p class="mb-0 small">Realizzato interamente da: riccardo.calabri@icloud.com</p>
            </div>
        </div>
    </div>
</footer>