.hero-section {
    position: relative;
    height: 52vh;
    background: url('/noi.jpg') center/cover no-repeat;
}

.hero-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.48);
    backdrop-filter: blur(1px);
}

.hero-content {
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    max-width: 800px;
    z-index: 2;
}

body {
    overflow-x: hidden;
}

.container, .container-fluid {
  overflow-x: hidden;
}

.staff-card {
  background: #1c1c1c; /* sfondo scuro */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.staff-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.staff-overlay {
  transition: opacity 0.3s ease;
}

.staff-card:hover .staff-overlay {
  opacity: 1;
}

.staff-tags .badge {
  font-size: 0.8rem;
  padding: 0.35rem 0.7rem;
  border-radius: 50px;
  font-weight: 500;
}
